* {
    max-width: 100%;
    max-height: 100%;
}

html, body {
    margin: 0; 
    overflow: hidden;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    
    justify-content: center;
    gap: clamp(2em, 4em, 6em);
    align-items: center;
    background-color: #f4f4f9;
}

.UI-window {
    width: min(50vh, 40vw);
    flex: none;
    aspect-ratio: 9 / 16;
}

.title-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inputs styling */

#inputs-container {
    /* background-color: rgb(210, 210, 210); */

    display: grid;
    grid-template-rows: 2fr 2fr 10fr 2fr;
}

#char-count {
    font-size: 2rem;
}

.span-holder {
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.words-holder {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

form {
    height: 90%;
    
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    row-gap: 3px;
    grid-auto-rows: 1;
}

.words-holder .button-holder {
    height: 10%;
}

/* form .input-holder {
    display: flex;
    justify-content: space-between;
} */

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs-container .button-holder {
    grid-row: -2 / -1;
}

#inputs-container .title-holder {
    grid-row: 1 / 2;
}

.input-holder {
    /* background-color: azure; */
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex: 1;
}

.input-holder div {
    align-content: center;
    /* width: 90%; */
    font-size: 1rem;
    font-weight: 400;
}

.input-holder input {
    flex: 1 1 0;
    font-size: 1rem;
    text-align: center;
}

.run {
    flex: none;
    padding: 2em;
    aspect-ratio: 9 / 2;

    font-size: 1rem;
    font-weight: 500;
}


/* Board styling */

#board-container {
    /* background-color: rgb(255, 0, 170); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#board-container .title-holder {
    height: calc(100% / 8);
}

.board {
    /* background-color: red; */
    padding: 5px;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(6, 1fr);
    gap: 5px;
}

.mini {
    /* background-color: white; */
    aspect-ratio: 1;
}

.letter {
    font-size: xx-large;
    font-weight: 600;
}

/* .word-0 {
    background-color: yellow;
} */

.line {
    position: absolute;
    background-color: rgba(112, 186, 255, 0.8);
    z-index: -1;
}

.circle {
    position: absolute;
    background-color: rgb(112, 186, 255);
    z-index: -1;
}
/* body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template: 1fr 1fr 800px 1fr / 1fr 600px 1fr;
}
#run {
    grid-area: 2 / 2 / 3 / 3;
}

#container {
    grid-area: 3 / 2 / 4 / 3;
    background-color: red;

    padding: 5px;

    display: grid;
    grid-template: repeat(8, 1fr) / repeat(6, 1fr);
    gap: 5px;
}
*/
.mini {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.letter {
    font-size: xx-large;
    font-weight: 800;
} */


.line {
    position: absolute;
    background-color: rgba(112, 186, 255, 0.8);
    z-index: -1;
}

.circle {
    position: absolute;
    background-color: rgb(112, 186, 255);
    z-index: -1;
}

@media screen and (max-width: 768px) {

    .input-holder div {
        font-size: large;
        font-weight: 400;
    }

    .letter {
        font-size: large;
    }
   
    .UI-window {
        width: 90%;
    }
}